.divtop {
	margin: 0px o o -50px;
	left: 50%;
}

.something {
	font-family: 'Lobster Two', cursive;
	color: #3CC;
	text-align: center;
	font-size: 7.5em;
	text-decoration: none;
	animation: pulse 1s ease infinite;
}

.something:hover {
	transform: scale(1.2);
}



body {
	background: #848484
}

p {
	font-family: 'Playfair Display', serif;
	color: black;
	text-align: center;
}
a {
	color: #3cc;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: #c33;
}