.something {
	font-family: 'Lobster', cursive;
	color: #3CC;
	text-align: center;
	font-size: 100px
}

.containerdiv {
	margin: 0px o o -50px;
	left: 50%;
}

body {
	background: #848484
}

p {
	font-family: 'Playfair Display', serif;
	color: black;
	text-align: center;
}
a {
	color: #3cc;
}

a:visited {
	color: white;
}

a:hover {
	color: #c33;
}