/* * {
   border: 1px solid red !important;
} */

body {
  margin: 0;
  padding: 0;
	background: #ccc;
}

p {
	font-family: 'Playfair Display', serif;
	color: black;
	text-align: center;
	font-size: 14px;
}

a {
	color: #3cc;
  text-decoration: none;
}

a:visited {
	color: #cc3333;
}

a:hover {
	color: white;
}

.navbar ul {
  list-style: none;
  background-color: grey;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  font-family: 'Lobster Two', cursive;
  font-size: 1.4em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.navbar a {
  text-decoration: none;
  color: #3CC;
  padding: 0 10px;
  display: block;
  transition: .4s background-color;
}

.navbar a:hover {
  background-color: black;
}

.navbar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px;) {
  .navbar li {
    width: 150px;
    border-bottom: none;
    height: 50px
    line-height 50px;
    font-size: 1.4em;
  }
}

.navbar li {
  display: inline-block;
  margin-right: -4px;
}




.worktext {
  position: absolute;
  border: solid;
  margin: 50% 0 0 0;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 1em;
  text-align: center;
}

.abouttext {
  position: absolute;
  margin: 100% 0 0 0;
  font-family: 'Lobster Two', cursive;  
  color: black;
  font-size: 1em;
  text-align: center;
}

.contacttext {
  position: absolute;
  margin: 150% 0 0 0;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 1em;
  text-align: center;
}

.txttopl{
  position: absolute;
  padding: 0;
	border: solid;
  margin: 8% 50% 0 0;
}

.txttopmid{
  position: absolute;
  padding: 0;
  border: solid;
  margin: 8% 0 0 50%;
}

.txttopr{
  position: absolute;
  padding: 0;
  border: solid;
  margin: 8% 0 0 70%;
}