body {
	background: white
}

p {
	font-family: 'Playfair Display', serif;
	color: black;
	text-align: center;
	font-size: 14px;
}

a {
	color: #3cc;
  text-decoration: none;
}

a:visited {
	color: #cc3333;
}

a:hover {
	color: white;
}

.navbar {
  position: fixed;
	margin: 0px 0 0 -50px;
  width: 100%;
  height: 35px;
	top: 0;
  text-align: center;
  padding-top: 15px;
	border-style: solid;
	border-color: #848484;
	background-color: #848484;
	height: 50px;

}

.navbar a {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: black;
}

home {
   position: absolute;
  margin: 0.5% 90% 0 5%;
  border: solid black;
  font-family: 'Lobster Two', cursive;
  color: #3CC;
  text-align: center;
  font-size: 1.5em;
}

.ajp {
 
}

.work {
  position: absolute;
  border: solid;
  margin: 0 0 0 80%;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 1em;
  text-align: center;
}

.work:hover {
  color: black;
 
}

.about {
  margin: 0 0 0 35%;
  font-family: 'Lobster Two', cursive;  
  color: black;
  font-size: 1em;
  text-align: center;
}

.contact {
  margin: 0 0 0 35%;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 1em;
  text-align: center;
}

.txttopl{
  position: absolute;
  padding: 0;
	border: solid;
  margin: 8% 50% 0 0;
}

.txttopmid{
  position: absolute;
  padding: 0;
  border: solid;
  margin: 8% 0 0 50%;
}

.txttopr{
  position: absolute;
  padding: 0;
  border: solid;
  margin: 8% 0 0 70%;
}
