body {
	background: white
}

p {
	font-family: 'Playfair Display', serif;
	color: black;
	text-align: center;
	font-size: 14px;
}

a {
	color: #3cc;
}

a:visited {
	color: #cc3333;
}

a:hover {
	color: white;
}

.conajp {
	margin: 0px 0 0 -50px;
	top: 0;
	left: 50%;
	border-style: solid;
	border-color: #848484;
	background-color: #848484;
	height: 250px;

}

.ajp {
	margin: -2% 0 0 0;
	top: 0;
	font-family: 'Lobster Two', cursive;
	color: #3CC;
	text-align: center;
	font-size: 10em;
}

.btn1 {
  border-radius: 10px;
  transform: rotate(45deg); 
  width: 100%;
  min-width: 50px;
  max-width: 200px;
  margin: 0 0 0 35%;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 42px;
  background: #3cc;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  clear: both;
}

.btn1:hover {
  background: #c33;
  text-decoration: none;
}

.btn2 {
  border-radius: 10px;
  transform: rotate(45deg); 
  width: 100%
  min-width: 50px;
  max-width: 200px;
  margin: -4% 0 0 45%;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 42px;
  background: #3cc;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  clear: both;
}

.btn2:hover {
  background: #c33;
  text-decoration: none;
}

.btn3 {
  border-radius: 10px;
  transform: rotate(45deg); 
  width: 100%;
  min-width: 50px;
  max-width: 200px;
  margin: -4% 0 0 55%;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 42px;
  background: #3cc;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  clear: both;
}

.btn3:hover {
  background: #c33;
  text-decoration: none;
}

.txt{
	border: none;
  margin: 8% 50% 0 0;
}



