/* {
   border: 1px solid red !important;
} */

body {
  margin: 0;
  padding: 0;
  background: white;
}

.navbar ul {
  list-style: none;
  background-color: rgb(61, 160, 178);
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  font-family: 'Lobster Two', cursive;
  font-color: #3CC;
  font-size: 1.4em;
  line-height: 45px;
  height: 45px;
  border-bottom: 1px solid #888;
}

.navbar a {
  text-decoration: none;
  color: #3CC;
  padding: 0 10px;
  display: block;
  transition: .4s background-color;
}

.navbar a:hover {
  background-color: #444;
  color: #3CC;
}

.navbar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px;) {
  .navbar li {
    width: 150px;
    border-bottom: none;
    height: 45px
    line-height 45px;
    font-size: 1.4em;
  }
}

.navbar li {
  display: inline-block;
  margin-right: -4px;
}

.mustachio {
  position: absolute;
  padding: 0;
  right: 87%;
  margin: 0.3% 0 0 0;
}

p {
  font-family: 'Playfair Display', serif;
  color: black;
  text-align: center;
  font-size: 14px;
}

a {
  color: #3cc;
  text-decoration: none;
}

a:visited {
  color: #3cc;
}

a:hover {
  color: black;
}

.divtop {
	margin: 0px o o -50px;
	left: 50%;
}

.something {
	font-family: 'Lobster Two', cursive;
	color: #3CC;
	text-align: center;
	font-size: 7.5em;
	text-decoration: none;
	animation: pulse 1s ease infinite;
}

.something:hover {
	transform: scale(0.9);
}



/* .haha {
  position: relative;
  max-width: 500px;
  height: 500px;
  margin: 100% auto 0 auto;
}
.haha figure {
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
  background: #000;
  position: absolute;
}
.haha img {
  box-shadow: 0 0 2px #666;
}

.haha figure {
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 66s 62s infinite;
}
figure:nth-child(2) {
  animation: xfade 66s 56s infinite;
}
figure:nth-child(3) {
  animation: xfade 66s 50s infinite;
}
figure:nth-child(4) {
  animation: xfade 66s 42s infinite;
}
figure:nth-child(5) {
  animation: xfade 66s 36s infinite;
}
figure:nth-child(6) {
  animation: xfade 66s 30s infinite;
}
figure:nth-child(7) {
  animation: xfade 66s 24s infinite;
}
figure:nth-child(8) {
  animation: xfade 66s 18s infinite;
}
figure:nth-child(9) {
  animation: xfade 66s 12s infinite;
}
figure:nth-child(10) {
  animation: xfade 66s 6s infinite;
}
figure:nth-child(11) {
  animation: xfade 66s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

